@(taskList: List[Task], taskForm: Form[Task])

        @import helper._

        @main("ourTaskList"){

        <div>
            <div>
                <h2>@@LevelUp2014</h2>
                <span class="subTitle">team B</span>
                @if(taskList.size() <= 0){
                <span class="headTitle" >No Tasks</span>
            </div>
            }else{
                @if(taskList.size() == 1 ){
                    <span class="headTitle" >@taskList.size() TASK</span>
                }else{
                    <span class="headTitle" >@taskList.size() TASKS</span>
                }
            </div>

            <div class="taskBoard">
                @for(task <- taskList){
                <div class="taskBox">
                    <div class="right">
                        @form(routes.Application.deleteTask(task.id)){
                            <button type="submit" class="delete">x</button>
                        }
                    </div>
                    <div class="left">
                        @task.getName()<div class="taskDescription">@task.getDescription()</div>
                    </div>
                </div>
                }


            </div>
            }

            <div class="bottom miniWide boxedTop">
                <center ><h2>ADD NEW TASK</h2></center>
                @form(routes.Application.newTask()){
                    @inputText(taskForm("name"))
                    @inputText(taskForm("description"))
                    <button type="submit" class="form">Save</button>
                    <button type="reset" class="form clear">Clear</button>
                }
            </div>

        </div>





}